<% if resource.errors.any? %>
  <div class="card container mb-4 mt-4">
    <div class="card-body">
      <h5 class="card-title">
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </h5>
      <div class="alert alert-danger" role="alert">
        <% resource.errors.values.each do |message| %>
          <p><%= message.join(' ') %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>